*{
  padding: 0px;
  margin: 0px;
}
/* Body */
body, html{
  scroll-behavior: smooth;
}
/* Hovers */
.hover-1 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}
/* Landing*/
.bg-provisional3{
  min-height: 100vh;
  background-image: url('../img/lamamadeeduardo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rgba-gradient{
  min-height: 100vh;
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-gradien (linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 100%);
}
.rgba-gradient2{
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-gradien (linear, 45deg, from(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) 100%);
}
.btn:hover{
  border: 1px solid #fff;
  color: #fff !important;
}
/* Records */
.bg-provisional2{
  min-height: 100vh;
  background-image: url('../img/records.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tabla-scroll{
  width: 80%;
  overflow-y: scroll;
}
/* Operador */
.bg-provisional{
  min-height: 100vh;
  background-image: url('../img/bg-inpro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rgba-gradient3{
  min-height: 100vh;
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-gradien (linear, 45deg, from(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) 100%);
}
.borde-negro{
  border: 2px solid #000;
}
.table-andres{
  border: 1px solid #fff;
  padding: 7px;
}
.table-andres-numero2{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 12px 25px;
}
.table-formal{
  width: 800px;
}
@media screen and (max-width: 830px){
  .table-formal{
    width: 600px;
  }
}
@media screen and (max-width: 630px){
  .table-formal{
    width: 400px;
  }
}
@media screen and (max-width: 578px){
  .table-formal{
    width: 300px;
  }
}
@media screen and (max-width: 470px){
  .table-andres{
    padding: 4px;
  }
  .table-andres-numero2{
    padding: 7px 15px;
  }
}
@media screen and (max-width: 340px){
  .table-andres{
    padding: 2px;
  }
  .table-andres-numero2{
    padding: 5px 10px;
  }
}
