<template>
  <div>
    <div class="bg-provisional">
      <div class="d-flex justify-content-center align-items-center rgba-gradient">
        <div class="d-flex flex-column text-white pb-2">
          <div class="text-center" style="margin-bottom:50px;">
            <img class="img-fluid" src="/frontend/img/figth-club.png" alt="logo" width="250px">
          </div>
          <center v-if="lastOperation && lastOperation[0]">
            <span v-for="txtOp in lastOperation" :style="(colorText) ? 'color:' + colorText : ''">{{ txtOp }}</span>
          </center>
          <div class="text-center p-4 rgba-gradient2 brd2">
            <div v-if="havePassword" >
                <p class="h4 mb-4 fontElegant">Operador de consola</p>
                <input :disabled="disabled" type="text" v-model="nickname" class="form-control mb-4" placeholder="NickName">
                <select :disabled="disabled" class="form-control mb-4" v-model='game'>
                  <option v-for="(game,index) in games" :key="index" :value="game.id">{{ game.name }}</option>
                </select>
                <button :disabled="disabled" @click="victoria(1)" class="btn hover-1 " >Victoria</button>
                <button :disabled="disabled" @click="victoria(0)" class="btn hover-1" >Derrota</button>
                <div class="">

                  <span v-if="victorias != 0 && victorias >= rachas">Estas marcando racha! {{ victorias }}</span>
                  <span v-else >Contador {{ victorias }} | {{ rachas }}</span>

                </div>
            </div>
            <div v-else>
                <p class="h4 mb-4 fontElegant">Acceso restringido</p>
                <input  :disabled="disabled"   type="password" v-model="password" class="form-control mb-4" placeholder="Password">
                <button :disabled="disabled"  @click='havePassword = true' class="btn hover-1" >Ingresar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style >
  * {
    font-family: cursive;
  }

  .fontElegant {
    font-family: 'Macondo Swash Caps', cursive;
  }

  .brd2 {
    border-radius: 2px;
  }
</style>

<script>
    export default {
        data(){
          return {
            games: [],
            password: null,
            nickname: null,
            havePassword: false,
            game: 1,
            lastOperation: [null],
            colorText: 'gray',
            disabled: false,
            lastTimeOut: 0,
            rachas:0,
            victorias:0,
            lastUser: null
          }
        },
        mounted() {
          this.getGames();
        },
        methods:{
          victoria(gano){
            var datos = {
              nickname: this.nickname,
              password: this.password,
              juego_id: this.game,
              gano
            }

            if (!gano) {
              this.nickname = null;
              this.rachas  = 0;
              this.victorias  = 0;
            }

            this.disabled = true;
            this.lastOperation = [null];

            axios.post(baseurl+'/api/victoria', datos)
              .then(response => {
                console.log('Respuesta: ', response)

                this.setLastOperation(['Operacion exitosa!'],'green');

                this.victorias = response.data.victorias;
                this.rachas = response.data.racha;

                this.disabled = false;
              })
              .catch(error => {

                this.disabled = false;
                if (error.response.status == 400){

                }
                else if (error.response.status == 401){

                }
                else if (error.response.status == 404){

                }
                else if (error.response.status == 500){

                }

                console.log(error.response.status);

                let errors = error.response.data;
                try {
                      errors = JSON.parse(errors);
                } catch (e) {
                      errors = [errors];
                }

                this.setLastOperation(errors,'red')

              });
          },
          setLastOperation(errors, color = 'red'){
            this.lastOperation = errors;
            this.colorText = color;
            const actualTime = (new Date()).getMilliseconds();
            this.lastTimeOut = actualTime;
            setTimeout( () => {
              if (actualTime == this.lastTimeOut)
                this.lastOperation = [null];
            }, 2000);
          },
          getGames(){
            console.log('Pidiendo datos de juegos...');
            axios.get(baseurl+'/api/juegos')
            .then(response => {
              console.log('Respuesta juegos: ')
              console.log(response)
              this.games = response.data;
            })
            .catch(error => {
                console.log(error.response.status);
                console.log(error.response.data)
            });
          }
        }
  }
</script>
