<template>
  <div class="bg-provisional2">
    <div class="rgba-gradient3">
      <div class="d-flex flex-column align-items-center text-white" style="padding:25px;">
        <div class="text-center" style="margin:0px;">
          <img class="img-fluid" src="/frontend/img/figth-club.png" alt="logo" width="200px">
        </div>
        <div class="d-flex flex-row">
          <p class="h3 titleFont" style="margin:0px;">Ranking!</p>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center" style="padding:20px;padding-top: 10px;">
        <table class="text-white rakingTable" style="margin:0px;">
          <thead class="blackHeader white-text">
            <tr>
              <th style='width:60px;'>N°</th>
              <th style="text-align:left;">Usuario</th>
              <th
                class="thImg text-center un-md"
                v-for="(game,index) in games" :key="index"
                style='max-width:80px;padding:4px;'
              >
                <img :src="game.icon" class='photoIcon'>
              </th>
              <th>Mayor</th>
              <th>Total</th>
            </tr>
          </thead>
          <tr v-for="(user,index) in users" :key="index">
            <td style='width:60px;'>{{ index + 1 }}</td>
            <td style="text-align:left;">{{ user.nickname }}</td>
            <td  v-for="(game,index) in user.games" class='un-md' :key="index" ><span :style="(!game) ? 'color:#666;': ''">{{ game }}</span></td>
            <td class = 'rachaMayor' >
              <div v-if="user.gameracha && games && games.length > 0" style='padding:5px;'>
                <img class='iconMRacha' :src="games.find( (game) => game.id == user.gameracha ).icon" >
              </div>
              &nbsp;{{ user.racha }}
            </td>
            <td >{{ user.totalpoints }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<style media="screen">

  * {
    cursor: default;
    font-family: cursive;
  }

  .titleFont {
    font-family: 'Macondo Swash Caps', cursive;
  }

  .rachaMayor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .iconMRacha {
    width: 20px;
    height:auto;
  }

  .rakingTable {
    width: 100%;
    max-width: 900px;
    margin: 50px 0px;
    border-radius: 4px;
  }

  .rakingTable tr:hover{
    background: rgba(255,255,255,0.05);
  }

  .rakingTable td{
    padding: 1px 8px;
    border-bottom: 1px white solid;
    width: 100%;
    text-align: center;
    font-size: 15px;
  }

  .rakingTable th{
    background: rgba(0,0,0,0.6);
    padding: 2px 10px;
    text-align: center;
    font-size: 16px;
    font-family: 'Macondo Swash Caps', cursive;
  }

  .photoIcon {
    width: 40px;
    height:auto;
  }

  @media (max-width:670px) {
    .un-md {
      display: none;
    }

    .iconMRacha {
      width: 32px;
      height:auto;
    }

    .rakingTable td{
      padding: 1px 8px;
      font-size: 18px;
    }

    .rakingTable th {
      font-size: 20px;
      padding: 10px 5px;
    }

  }

  @media (max-width: 550px) {
    .un-sm {
      display: none;
    }

    .iconMRacha {
      width: 24px;
      height:auto;
    }

    .rakingTable td{
      padding: 1px 8px;
      font-size: 16px;
    }

    .rakingTable th {
      font-size: 16px;
      padding: 10px 5px;
    }
  }

</style>

<script>
    export default {
        data(){
          return{
            users:[],
            games:[]
          }
        },
        mounted() {
          console.log(baseurl);

            this.getGames();
            this.getUsers();

            setInterval(() => {
              this.getUsers();
            }, 3000);

            setInterval(() => {
              this.getGames();
            }, 120000);

        },
        methods:{
          getUsers(){
            console.log('Pidiendo datos de ranking...');
            axios
            .get(baseurl+'/api/ranking')
            .then(response => { this.users = response.data; console.log(this.users) })
            .catch(error => {
                console.log(error.response.status);
            });
          },

          getGames(){
            console.log('Pidiendo datos de juegos...');
            axios.get(baseurl+'/api/juegos')
            .then(response => {
              console.log('Respuesta juegos: ')
              console.log(response)
              this.games = response.data;
            })
            .catch(error => {
                console.log(error.response.status);
                //console.log(error.response.responseText)
                console.log(error.response.data);
            });
          }
      }
    }
</script>
