<template>
    <div class="bg-provisional3">
      <div class="d-flex justify-content-center align-items-center rgba-gradient">
        <div class="d-flex flex-column text-white">
          <div class="text-center" style="margin-bottom:50px;">
            <img class="img-fluid" src="/frontend/img/figth-club.png" alt="logo" width="200px">
          </div>
          <div class="text-center p-4 rgba-gradient2 brd2">
            <p class="h4 mb-4">Unete a la batalla</p>
            <center v-if="lastOperation && lastOperation[0]">
              <span v-for="txtOp in lastOperation" :style="(colorText) ? 'color:' + colorText : ''">{{ txtOp }}</span>
            </center>
            <input :disabled="disabled" maxlength="16" v-model='nickname' class="form-control mb-4" placeholder="NickName">
            <input :disabled="disabled" maxlength="190" v-model='email' class="form-control mb-4" placeholder="E-mail">
            <label>Carrera</label>
            <select :disabled="disabled" class="browser-default custom-select mb-4" v-model='school_id'>
              <option v-for="(schoolItem,index) in schools" :key="index" :value="schoolItem.id">{{ schoolItem.name }}</option>
            </select>
            <button class="btn hover-1" @click="registrar">Empezar</button>
          </div>
        </div>
      </div>
    </div>
</template>
<style media="screen">
.brd2 {
  border-radius: 2px;
}
</style>
<script>
    export default {
        data(){
          return{
            nickname: null,
            email: null,
            school_id: 10,
            errors: null,
            showalert: null,
            schools: [],
            disabled: false,
            lastOperation: [null],
            colorText: 'gray',
            lastTimeOut: 0,
          }
        },
        mounted() {
            console.log(baseurl);
            this.getGames();
        },
        methods:{
          registrar(){
            const datos = {
              nickname: this.nickname,
              email: this.email,
              school_id: this.school_id
            }
            console.log('SCOOL',datos)
            this.disabled = true;
            axios
              .post(baseurl+'/api/users', datos)
              .then(response => {
                console.log('Respuesta: ', response);
                this.nickname = '';
                this.email = '';
                this.school_id = 10;
                this.disabled = false;
                this.setLastOperation('Registro Exitoso!','green');
              } )
              .catch(error => {
                this.disabled = false;
                console.log(error.response.status);
                let errors = error.response.data;
                try {
                    errors = JSON.parse(errors);
                } catch (e) {
                    errors = [errors];
                }

                console.log('data:'   ,errors);
                this.errors = errors;
                this.setLastOperation(errors,'red');

                this.showalert = true;
              })
          },
          setLastOperation(errors, color = 'red'){
            this.lastOperation = errors;
            this.colorText = color;
            const actualTime = (new Date()).getMilliseconds();
            this.lastTimeOut = actualTime;
            setTimeout( () => {
              if (actualTime == this.lastTimeOut)
                this.lastOperation = [null];
            }, 2000);
          },
          getGames(){
            console.log('Pidiendo datos de juegos...');
            axios.get(baseurl+'/api/schools')
            .then(response => {
              console.log('Respuesta juegos: ')
              console.log(response)
              this.schools = response.data;
            })
            .catch(error => {
                console.log(error.response.status);
                console.log(error.response.data)
            });
          }
        }
    }
</script>
